[Unit]
Description=ORo CommandExecutor Service
After=input_layer_node.service
Requires=input_layer_node.service

[Service]
Type=simple
ExecStart=/home/radxa/oro_base/oro_base_edge_layer/command_executor/build/command_executor_node
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
