[Unit]
Description=ORo Scheduled Task Manager Service
After=postgresql.service command_executor.service
Wants=command_executor.service
Requires=postgresql.service

[Service]
Type=simple
ExecStart=/usr/local/bin/scheduled_task_manager_node
Restart=on-failure
RestartSec=5
Environment=PGPASSWORD=ogmen

[Install]
WantedBy=multi-user.target
